@model Service


@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <h1>Create</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title">FullName</label>
            <input asp-for="Title" class="form-control" placeholder="FullName">
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Logo">Email</label>
            <input asp-for="Logo" class="form-control" placeholder="Email">
            <span class="text-danger" asp-validation-for="Logo"></span>
        </div>
        <div class="form-group">
            <label asp-for="Desc">PhoneNumber</label>
            <input asp-for="Desc" class="form-control" placeholder="PhoneNumber">
            <span class="text-danger" asp-validation-for="Desc"></span>
        </div>
        <div class="form-group">
            <label asp-for="serviceDetail.FileImage">ImageFile</label>
            <input asp-for="serviceDetail.FileImage" class="form-control" placeholder="ImageFile">
            <span class="text-danger" asp-validation-for="serviceDetail.FileImage"></span>
        </div>

        <div class="img-box">
            <input type="hidden" name="Image" value="@Model.serviceDetail.Image" />
            <img style="max-width:300px" src="~/uploads/service/@Model.serviceDetail.Image" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>

    </form>
</div>