@model MemberRegisterViewModel
@{
    ViewData["Title"] = "Register";
}




<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Account</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a asp-action="index" asp-controller="home"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- LOGIN AREA START (Register) -->
<div class="ltn__login-area pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area text-center">
                    <h1 class="section-title">Register <br>Your Account</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="account-login-inner">
                    <form method="post" class="ltn__form-box contact-form-box">
                        <div class="col-md-12 col-12 mb--15">
                            <label asp-for="FullName">Full Name</label>
                            <input asp-for="FullName" class="mb-0 form-control" type="text" id="FullName"
                                   placeholder="Enter your full name">
                            <span class="text-danger" asp-validation-for="FullName"></span>
                        </div>
                        <br />
                        <div class="col-md-12 col-12 mb--15">
                            <label asp-for="UserName">UserName</label>
                            <input asp-for="UserName" class="mb-0 form-control" type="text" id="UserName"
                                   placeholder="Enter your full name">
                            <span class="text-danger" asp-validation-for="UserName"></span>
                        </div>
                        <br />
                        <div class="col-12 mb--20">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="mb-0 form-control" id="Email" placeholder="Enter Your Email Address Here..">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <br />
                        <div class="col-lg-12 mb--20">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" class="mb-0 form-control" id="password" placeholder="Enter your password">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <br />
                        <div class="col-lg-12 mb--20">
                            <label asp-for="ConfirmPassword">Repeat Password</label>
                            <input asp-for="ConfirmPassword" class="mb-0 form-control" id="ConfirmPassword" placeholder="Repeat your password">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <br />
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="col-md-12 btn-wrapper">
                            <button type="submit" class="theme-btn-1 btn reverse-color btn-block">CREATE ACCOUNT</button>
                        </div>
                    </form>
                    <div class="by-agree text-center">
                        <p>By creating an account, you agree to our:</p>
                        <p><a href="#">TERMS OF CONDITIONS  &nbsp; &nbsp; | &nbsp; &nbsp;  PRIVACY POLICY</a></p>
                        <div class="go-to-btn mt-50">
                            <a href="login.html">ALREADY HAVE AN ACCOUNT ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN AREA END -->

